.DS_Store
.idea
.vscode
dist
build
coverage
*.log
*.lock
*.swp
*.swo
*.pid
*.out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.staging
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
package-lock.json
yarn.lock
composer.lock
